{% extends 'authapp/base.html' %}
{% load staticfiles %}

{% block form %}
                                <form action="{% url 'auth:login' %}" method="post">
                                    {% csrf_token %}
                                    {% for i in form %}
                                        <div class="form-group">
                                            <label class="small mb-1" for="{{ i.id_for_label }}">{{ i.label }}</label>
                                            {{ i }}
                                        </div>
                                    {% endfor %}

                                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <a class="small" href="#">Забыли пароль?</a>
                                        <input class="btn btn-primary" type="submit" value="Авторизоваться">
                                    </div>
                                </form>
{% endblock %}

{% block footer %}
                                <div class="small"><a href="{% url 'auth:register' %}">Нужен аккаунт? Зарегистрируйся!</a></div>
{% endblock %}
